header,
h1 {
    font-family: "Iosevka Web", monospace;
    background: #282828;
    margin: 0;
}

h1 {
    padding: 0.2em 0.5em;
}

body {
    font-family: "Iosevka Web", monospace;
    margin: 0;
    background: #1d2021;
    color: #fbf1c7;
}

main {
    padding: 1em;
    margin: 0em 10em 0em 10em;
}

.hello-world__text,
pre {
    font-size: 150%;
    line-height: 1em;
    margin: 0;
}

a:link {
    color: #83a598;
}

a:visited {
    color: #a89984;
}

table td {
    padding: 0.4em;
}
